.image-header {
    background: url("../images/city.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 40rem;
}

.image-header-title {
    font-size: 5.0rem;
    font-weight: bold;
}