.image-header {
    background: url("../images/city.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 46rem;
}

.image-header-title {
    font-size: 5.5rem;
    font-weight: bold;
    text-align: center;
}

.image-header-subtitle {
    font-size: 2.0rem;
    text-align: center;
}

/* dark red */
.color-primary {
    background-color: #970F2A;
}