.image-header {
    background: url("../images/city.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    min-height: 50rem;
}

.nav-logo {
    padding-left: 0.5rem !important;
}

.image-header-title {
    font-size: 5.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(10,10,10);
    padding-top: 9.0rem;
    line-height: 1.0;
}

.image-header-subtitle {
    font-size: 2.0rem;
    text-align: center;
    color: rgb(10,10,10);
}

.promo-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

/* dark red */
nav {
    background-color: rgba(0,0,0,.5);
}

.no-height {
    height: 0px;
}